body { background-color: #3F2860; 
       color: #40407A ;
       font-family: Arial, Verdana, sans-serif; }
header {
    background-color: #80CBC4 ;
    background-image: url(lilyheader.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 150px;
    font-weight: bold; }
 h1 {  
	 padding-top: 50px;
     padding-left: 2em;
     font-size: 2.5em; }     
nav { font-weight: bold;
      text-align: center;
      padding: 1em;}
nav a { text-decoration: none; }
footer {
    background-color: #80CBC4;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding: 1em;}
main { padding-left: 2em;
       padding-right: 2em;
       display: block;}
img { padding-left: 1em;
      padding-right: 1em; }

#wrapper { margin-left: auto;
           margin-right: auto;
           width: 80%;
           background-color: #F5F5F5;
           min-width: 1000px;
           max-width: 1280px;}
.hero { text-align: center;}
.studio { font-style: italic; }
